# Consulta de Temperaturas Interactivo por Ciudad y Mes

## Objetivo

El proyecto consiste en la creación de un programa interactivo para la visualización de datos meteorológicos. Este programa permite a los usuarios visualizar los registros climáticos eligiendo el lugar y el més. Se aplica la creación de gráficos, personalización de estilos y se combina con el desarrollo de programas con Python.

## Datos

1. **Carga de un DataFrame** con los datos meteorológicos provistos en un archivo externo.
2. Se convierten las **fechas** a **formato correcto** para su manipulación posterior.
3. Crea un programa (una función o un conjunto de funciones) que le pida al usuario que seleccione una **ciudad** de la lista de ciudades disponibles en nuestro DataFrame, y un **mes** del año.
4. Muéstrale al usuario un gráfico que muestre las temperaturas mínimas y máximas que se registraron en la ciudad elegida durante el mes elegido.
5. El programa debe preguntarle al usuario si desea seguir haciendo consultas o no.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
#1. Carga de un DataFrame con los datos meteorológicos provistos en un archivo externo.
df = pd.read_csv(r"C:\Users\juani\OneDrive\Escritorio\Proyectos\01.Data\01 Python\05BloqueMatplotlib\ConsultaTemperaturas\Archivos\Datos+Meteorológicos_Arg_2023.csv")
df

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa
0,1/1/2023,Buenos Aires,27,18,0.0,22.7,68.8
1,1/1/2023,Cordoba,35,18,0.0,33.8,61.7
2,1/1/2023,Rosario,23,21,0.0,10.6,80.0
3,1/1/2023,Mendoza,35,21,0.0,23.8,76.8
4,1/1/2023,Tucuman,36,18,17.2,25.7,54.9
...,...,...,...,...,...,...,...
1820,31/12/2023,Buenos Aires,15,12,0.0,17.9,49.2
1821,31/12/2023,Cordoba,15,7,0.0,17.8,62.4
1822,31/12/2023,Rosario,14,8,0.0,38.2,31.2
1823,31/12/2023,Mendoza,13,9,84.8,27.6,35.3
1824,31/12/2023,Tucuman,15,10,0.0,30.0,49.1

In [21]:
#2. Se convierten las **fechas** a **formato correcto** para su manipulación posterior.
df['Fecha'] = pd.to_datetime(df['Fecha'], dayfirst=True, errors='coerse')
df

AssertionError: